body {
    background: white url("images/taxonomy.jpg") no-repeat;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}

.divMain {
  width: 720px;
  margin: 0 auto;
}

